*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}


header{
    background-color: #add8e6;
    display: flex;
    height: 80px;
    justify-content: space-around;
    align-items: center;
}

section{
    width: 80%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    border: 1px solid red;
}

ul{
    border: 1px solid red;
    display: flex;
}

div{
    border: 1px solid red;
}

li{
    padding: 0 20px;
}

/*MAIN/*

/*FIRST SECTION*/

.flex-container{
    display: flex;
    background-color: rgb(25, 127, 173);
    width: 100%;
    min-height: 400px;
    align-items: center;
    justify-content: center;
}


.flex-container>div{
    background-color: orange;
    min-height: 300px;
    width: 50%;
}

/*SECOND SECTION*/

.flex-container-due{
    display: flex;
    background-color: rgb(209, 166, 25);
    width: 100%;
    min-height: 400px;
    align-items: center;
    justify-content: center;
}

.flex-container-due>div:first-child{
    background-color: rgb(0, 153, 255);
    min-height: 300px;
    width: 35%;
}

.flex-container-due>div:last-child{
    background-color: rgb(162, 0, 255);
    min-height: 300px;
    width: 25%;
}
