*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

:root{
    --border: 1px solid red;
    --padding: 5% 20%;
}

/*HEADER*/

header{
    background-color: #add8e6;
    display: flex;
    height: 80px;
    justify-content: space-around;
    align-items: center;
    padding: 0 20%;
}

.wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: var(--border);
}

.wrapper>ul{
    display: flex;
}

#logo-header{
    width: 100%;
    border: var(--border);
}

#list-header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    border: var(--border);
}



#login{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border: var(--border);
}

/*MAIN/*

/*FIRST SECTION*/

.flex-container{
    display: flex;
    background-color: rgb(25, 127, 173);
    width: 100%;
    min-height: 400px;
    padding: 5% 30%;
}


.flex-container>div{
    background-color: orange;

    min-height: 300px;
    width: 100%;
    border: var(--border) ;
}

/*SECOND SECTION*/

.flex-container-due{
    display: flex;
    background-color: rgb(209, 166, 25);
    width: 100%;
    min-height: 400px;
    align-items: center;
    justify-content: center;

    padding: var(--padding) ;
}

.flex-container-due>div:first-child{
    background-color: rgb(0, 153, 255);
    min-height: 300px;
    width: 60%;

    border: var(--border) ;
}

.flex-container-due>div:last-child{
    background-color: rgb(162, 0, 255);
    min-height: 300px;
    width: 40%;   

    border: var(--border) ;
}

/*THIRD SECTION*/

.flex-container-tre{
    display: flex;
    background-color: rgb(25, 209, 132);
    width: 100%;
    min-height: 400px;
    align-items: center;
    justify-content: center;

    padding: var(--padding) ;
}

.flex-container-tre>div:first-child{
    background-color: rgb(0, 153, 255);
    min-height: 300px;
    width: 60%;
    order: 1;

    border: var(--border) ;

}

.flex-container-tre>div:last-child{
    background-color: rgb(162, 0, 255);
    min-height: 300px;
    width: 40%;

    border: var(--border) ;

}

/*FOURTH SECTION*/

.flex-container-due{
    display: flex;
    background-color: rgb(209, 166, 25);
    width: 100%;
    min-height: 400px;
    align-items: center;
    justify-content: center;

    padding: var(--padding) ;
}

.flex-container-due>div:first-child{
    background-color: rgb(0, 153, 255);
    min-height: 300px;
    width: 60%;

    border: var(--border) ;

}

.flex-container-due>div:last-child{
    background-color: rgb(162, 0, 255);
    min-height: 300px;
    width: 40%;

    border: var(--border) ;

}

/*QUINTA SECTION*/


.flex-container-cinque{
    display: flex;
    background-color: rgb(25, 135, 209);
    width: 100%;
    min-height: 600px;
    align-items: center;
    justify-content: center;

    padding: var(--padding) ;
}

.flex-container-cinque>div{
    background-color: rgb(255, 174, 0);
    min-height: 500px;
    width: 100%;

    border: var(--border) ;

}

/*FOOTER*/

footer{
    display: flex;
    flex-direction: column;
}

/*FIRST SECTION*/

footer>section:first-child{
    display: flex;
    background-color: rgb(68, 63, 47);
    width: 100%;
    min-height: 400px;
    align-items: center;
    justify-content: center;

    padding: var(--padding) ;
}

footer>section:first-child>div:first-child{
    background-color: rgb(162, 0, 255);
    min-height: 350px;
    width: 30%;

    border: var(--border) ;

}

footer>section:first-child>div:last-child{
    background-color: rgb(0, 153, 255);
    min-height: 350px;
    width: 70%;

    border: var(--border) ;

}

footer>section:last-child{
    display: flex;
}



#list-footer{
    display: flex;
    justify-content: center;
    align-items: center;

}

#list-footer>li{
    background-color: antiquewhite;
    width: 100%;
    height: 350px;

    border: var(--border) ;
}

/*SECOND SECTION*/

footer>section:last-child{
    background-color: rgb(68, 63, 47);
    min-height: 80px;
    width: 100%;
    display: flex;
    align-items: flex-end;

    padding: 0 20%;
}

footer>section:last-child>div{
    background-color: rgb(221, 174, 18);
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: var(--border) ;

}

#logo-footer{
    padding: 5px 10px;
    border: var(--border) ;
}

#button-footer{
    padding: 5px 10px;
    border: var(--border) ;
}

