*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    background-repeat: no-repeat;
}

:root{
    --padding: 5% 10%;
    --color: white;
    --secondary-color: #255ee9;
}

p{
    font-size: large;
}

body{
    background-color:#443f2f;
}

/*HEADER*/

header{
    background-color: var(--secondary-color);
    display: flex;
    height: 80px;
    justify-content: space-around;
    align-items: center;
    padding: 0 10%;
}

.wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper>ul{
    display: flex;
}

#logo-header{
    width: auto;
}

#list-header{
    width: auto;
    display: flex;
    justify-content: space-around;
}

#list-header>li>a{
    color: var(--color);
    padding: 0 30px;
    font-weight: 500;
    font-size: small;
}

#login{
    width: auto;
    display: flex;
    justify-content: flex-end;
    color: var(--secondary-color);
    font-weight: 500;
    background-color: var(--color);
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

/*MAIN/*

/*FIRST SECTION*/

.flex-container{
    display: flex;
    width: 100%;
    min-height: 500px;
    padding: 5% 25%;
    align-items: center;
    justify-content: center;
    background-image: url(./img/jumbo.png);
    background-position: center;
    background-size: cover;
}


.flex-container>div{
    min-height: 300px;
    width: 100%;
    border: var(--border) ;
}

#flex-title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--color);
}

#flex-title>p{
    font-size: large;
    text-align: center;
}

h1{
    color: var(--color);
    font-size: 50px;
    margin-bottom: 20px;
}

#flex-title>.Button{
    color: var(--color);
    display: flex;
}

.Button>a:first-child{
    color: #23272a;
    padding: 15px;
    background-color: var(--color);
    border-radius: 30px;
    margin: 30px;
    font-weight: 500;
}

.Button>a:last-child{
    color: var(--color);
    padding: 15px;
    background-color: #23272a;
    border-radius: 30px;
    margin: 30px;
    font-weight: 500;
}



/*SECOND SECTION*/

.flex-container-due{
    display: flex;
    background-color: var(--color);
    width: 100%;
    height: 500px;
    align-items: center;
    justify-content: space-around;
    padding: var(--padding) ;
}

#flex-img-uno{
    height: 400px;
    width: 50%;
    background-image: url(./img/item1.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
} 

.flex-text{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    min-height: 300px;
    width: 25%;
}

h2{
    color: #23272a;
    font-size: 2.5rem;
}

.flex-container-due>.flex-text>p{
    color: #23272a;
    margin-top: 10px;
    font-size: large;
}

/*THIRD SECTION*/

.flex-container-tre{
    display: flex;
    width: 100%;
    min-height: 400px;
    align-items: center;
    justify-content: space-around;
    padding: var(--padding) ;
    background-color: white;
}

#flex-img-due{
    background-image: url(./img/item2.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    width: 50%;
    order: 1;
}

.flex-container-tre>.flex-text>p{
    color: #23272a;
    font-size: large;
    margin-top: 10px;
}

/*FOURTH SECTION*/

#flex-img-tre{
    background-image: url(./img/item3.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    width: 50%;
}

/*QUINTA SECTION*/


.flex-container-cinque{
    display: flex;
    width: 100%;
    min-height: 600px;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: var(--padding) ;
}

.flex-container-cinque>.wrapper{
    min-height: 700px;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
}

.flex-container-cinque>.wrapper>div{
    margin-top: 20px;
}

.flex-container-cinque>.wrapper>div>p{
    margin-top: 20px;
}

.flex-container-cinque>.wrapper>div:last-child>div>a{
    color: var(--color);
    background-color: #7492df;
    padding: 10px;
    border-radius: 20px;
}

h3{
    background-image: url(./img/stars.svg);
    background-position: inherit;
    background-size:contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 50px;
}

/*FOOTER*/

footer{
    display: flex;
    flex-direction: column;
}

/*FIRST SECTION*/

footer>section:first-child{
    display: flex;
    background-color: rgb(68, 63, 47);
    width: 100%;
    min-height: 400px;
    align-items: center;
    justify-content: center;
    
    padding: var(--padding) ;
}

#lenguage{
    min-height: 350px;
    width: 30%;
    color: #7492df;
    font-size: 2rem;
}

#lenguage>img{
    width: 8%;
}

#lenguage>span{
    color: var(--color);
    font-size: 0.8rem;
    height: 8%;
    vertical-align: middle;
}

footer>section:first-child>div:last-child{
    min-height: 350px;
    width: 70%;
}

footer>section:last-child{
    display: flex;
}



#list-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#list-footer>li{
    width: 100%;
    height: 350px;
    color: #7492df;
    font-weight: 500;
}

#list-footer>li>ul{
    width: 100%;
    height: 100%;
    padding: 10px 0;
}

#list-footer>li>ul>li{
    
    color: white;
    font-weight: 400;
    padding: 10px 0;
}

/*SECOND SECTION*/

#ruler{
    height: 1px;
    background-color: #7492df;
    width: 80%;
    margin: auto;
}

footer>section:last-child{
    background-color: rgb(68, 63, 47);
    min-height: 80px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding: 0 10%;
}

footer>section:last-child>div{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
    border: var(--border) ;

}

#logo-footer{
    padding: 5px 10px;
    border: var(--border) ;
}

#button-footer{
    padding: 5px 10px;
    border: var(--border) ;
}

#button-footer>a{
    background-color: #7492df;
    color: white;
    font-weight: 400;
    padding: 10px 15px;
    border-radius: 20px;
}



