*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    background-repeat: no-repeat;
}

:root{
    --padding: 5% 10%;
    --color: white;
    --secondary-color: #255ee9;
}

/*HEADER*/

header{
    background-color: var(--secondary-color);
    display: flex;
    height: 80px;
    justify-content: space-around;
    align-items: center;
    padding: 0 10%;
}

.wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper>ul{
    display: flex;
}

#logo-header{
    width: auto;
}

#list-header{
    width: auto;
    display: flex;
    justify-content: space-around;
}

#list-header>li>a{
    color: var(--color);
    padding: 0 30px;
    font-weight: 500;
    font-size: small;
}

#login{
    width: auto;
    display: flex;
    justify-content: flex-end;
    color: var(--secondary-color);
    font-weight: 500;
    background-color: var(--color);
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

/*MAIN/*

/*FIRST SECTION*/

.flex-container{
    display: flex;
    width: 100%;
    min-height: 500px;
    padding: 5% 25%;
    align-items: center;
    justify-content: center;
    background-image: url(./img/jumbo.png);
    background-position: center;
    background-size: cover;
}


.flex-container>div{
    min-height: 300px;
    width: 100%;
    border: var(--border) ;
}

#flex-title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--color);
}

#flex-title>p{
    font-size: large;
    text-align: center;
}

h1{
    color: var(--color);
    font-size: 50px;
    margin-bottom: 20px;
}

#flex-title>.Button{
    color: var(--color);
    display: flex;
}

.Button>a:first-child{
    color: #23272a;
    padding: 15px;
    background-color: var(--color);
    border-radius: 30px;
    margin: 30px;
    font-weight: 500;
}

.Button>a:last-child{
    color: var(--color);
    padding: 15px;
    background-color: #23272a;
    border-radius: 30px;
    margin: 30px;
    font-weight: 500;
}



/*SECOND SECTION*/

.flex-container-due{
    display: flex;
    background-color: var(--color);
    width: 100%;
    height: 500px;
    align-items: center;
    justify-content: center;
    padding: var(--padding) ;
}

.flex-container-due>#flex-img-uno{
    height: 100%;
    width: 60%;
    background-image: url(./img/item1.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
} 

.flex-container-due>div:last-child{
    min-height: 300px;
    width: 30%;
    border: var(--border) ;
}

.flex-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
}

h2{
    color: #23272a;
    font-size: 2.5rem;
}

.flex-text>p{
    color: #23272a;
    margin-top: 20px;
    font-size: large;
}

/*THIRD SECTION*/

.flex-container-tre{
    display: flex;
    width: 100%;
    min-height: 400px;
    align-items: center;
    justify-content: center;

    padding: var(--padding) ;
}

.flex-container-tre>div:first-child{
    background-image: url(./img/item2.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 300px;
    width: 60%;
    order: 1;

}

.flex-container-tre>div:last-child{
    min-height: 300px;
    width: 30%;

    border: var(--border) ;

}

/*FOURTH SECTION*/

.flex-container-due>#flex-img-tre{
    height: 100%;
    width: 60%;
}

#flex-img-tre{
    background-image: url(./img/item3.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}





/*QUINTA SECTION*/


.flex-container-cinque{
    display: flex;
    background-color: rgb(25, 135, 209);
    width: 100%;
    min-height: 600px;
    align-items: center;
    justify-content: center;

    padding: var(--padding) ;
}

.flex-container-cinque>div{
    background-color: rgb(255, 174, 0);
    min-height: 500px;
    width: 100%;

    border: var(--border) ;

}

/*FOOTER*/

footer{
    display: flex;
    flex-direction: column;
}

/*FIRST SECTION*/

footer>section:first-child{
    display: flex;
    background-color: rgb(68, 63, 47);
    width: 100%;
    min-height: 400px;
    align-items: center;
    justify-content: center;

    padding: var(--padding) ;
}

footer>section:first-child>div:first-child{
    background-color: rgb(162, 0, 255);
    min-height: 350px;
    width: 30%;

    border: var(--border) ;

}

footer>section:first-child>div:last-child{
    background-color: rgb(0, 153, 255);
    min-height: 350px;
    width: 70%;

    border: var(--border) ;

}

footer>section:last-child{
    display: flex;
}



#list-footer{
    display: flex;
    justify-content: center;
    align-items: center;

}

#list-footer>li{
    background-color: antiquewhite;
    width: 100%;
    height: 350px;

    border: var(--border) ;
}

/*SECOND SECTION*/

footer>section:last-child{
    background-color: rgb(68, 63, 47);
    min-height: 80px;
    width: 100%;
    display: flex;
    align-items: flex-end;

    padding: 0 20%;
}

footer>section:last-child>div{
    background-color: rgb(221, 174, 18);
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: var(--border) ;

}

#logo-footer{
    padding: 5px 10px;
    border: var(--border) ;
}

#button-footer{
    padding: 5px 10px;
    border: var(--border) ;
}

