*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}


header{
    background-color: #add8e6;
    display: flex;
    height: 80px;
    justify-content: space-around;
    align-items: center;
}

header>section{
    width: 80%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    border: 1px solid red;
}

#logo-header{
    border: 1px solid red;
}

#login{
    border: 1px solid red;
}

#list-header{
    border: 1px solid red;
    display: flex;
}


#list-header>li{
    padding: 0 20px;
}

/*MAIN/*

/*FIRST SECTION*/

.flex-container{
    display: flex;
    background-color: rgb(25, 127, 173);
    width: 100%;
    min-height: 400px;
    align-items: center;
    justify-content: center;
    padding: 0 20%;
}


.flex-container>div{
    background-color: orange;
    min-height: 300px;
    width: 100%;
    border: 1px solid red;
}

/*SECOND SECTION*/

.flex-container-due{
    display: flex;
    background-color: rgb(209, 166, 25);
    width: 100%;
    min-height: 400px;
    align-items: center;
    justify-content: center;
    padding: 0 20%;
}

.flex-container-due>div:first-child{
    background-color: rgb(0, 153, 255);
    min-height: 300px;
    width: 60%;
    border: 1px solid red;
}

.flex-container-due>div:last-child{
    background-color: rgb(162, 0, 255);
    min-height: 300px;
    width: 40%;   
     border: 1px solid red;
}

/*THIRD SECTION*/

.flex-container-tre{
    display: flex;
    background-color: rgb(25, 209, 132);
    width: 100%;
    min-height: 400px;
    align-items: center;
    justify-content: center;
    padding: 0 20%;
}

.flex-container-tre>div:first-child{
    background-color: rgb(0, 153, 255);
    min-height: 300px;
    width: 60%;
    order: 1;
    border: 1px solid red;

}

.flex-container-tre>div:last-child{
    background-color: rgb(162, 0, 255);
    min-height: 300px;
    width: 40%;
    border: 1px solid red;

}

/*FOURTH SECTION*/

.flex-container-due{
    display: flex;
    background-color: rgb(209, 166, 25);
    width: 100%;
    min-height: 400px;
    align-items: center;
    justify-content: center;
    padding: 0 20%;
}

.flex-container-due>div:first-child{
    background-color: rgb(0, 153, 255);
    min-height: 300px;
    width: 60%;
    border: 1px solid red;

}

.flex-container-due>div:last-child{
    background-color: rgb(162, 0, 255);
    min-height: 300px;
    width: 40%;
    border: 1px solid red;

}

/*QUINTA SECTION*/


.flex-container-cinque{
    display: flex;
    background-color: rgb(25, 135, 209);
    width: 100%;
    min-height: 600px;
    align-items: center;
    justify-content: center;
    padding: 0 20%;
}

.flex-container-cinque>div{
    background-color: rgb(255, 174, 0);
    min-height: 500px;
    width: 100%;
    border: 1px solid red;

}

/*FOOTER*/

footer{
    display: flex;
    flex-direction: column;
    
}

/*FIRST SECTION*/

footer>section:first-child{
    display: flex;
    background-color: rgb(68, 63, 47);
    width: 100%;
    min-height: 400px;
    align-items: center;
    justify-content: center;
    padding: 0 20%;
}

footer>section:first-child>div:first-child{
    background-color: rgb(162, 0, 255);
    min-height: 350px;
    width: 30%;
    border: 1px solid red;

}

footer>section:first-child>div:last-child{
    background-color: rgb(0, 153, 255);
    min-height: 350px;
    width: 70%;
    border: 1px solid red;

}

footer>section:last-child{
    display: flex;
}



#list-footer{
    display: flex;
    justify-content: center;
    align-items: center;

}

#list-footer>li{
    background-color: antiquewhite;
    width: 100%;
    height: 350px;
    border: 1px solid red;
}

/*SECOND SECTION*/

footer>section:last-child{
    background-color: rgb(68, 63, 47);
    min-height: 80px;
    width: 100%;
    display: flex;
    padding: 0 20%;
    align-items: flex-end;
}

footer>section:last-child>div{
    background-color: rgb(221, 174, 18);
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;

}

#logo-footer{
    padding: 5px 10px;
    border: 1px solid red;
}

#button-footer{
    padding: 5px 10px;
    border: 1px solid red;
}

